{% extends "public_base.html" %}

{% block title %}Home | FraudShield AI{% endblock %}

{% block content %}

<section class="hero-section">
    <div class="glass-card hero-card">

        <span class="eyebrow">ML Fraud Detection System</span>

        <h1 class="hero-title">
            Online Transaction Fraud Detection
        </h1>

        <p class="hero-subtitle">
            A clean machine learning system for detecting suspicious and fraudulent online transactions.
        </p>

        <div class="hero-buttons">
            <a href="/login" class="custom-btn">Login</a>
            <a href="/register" class="outline-btn">Create Account</a>
        </div>

    </div>
</section>

{% endblock %}